@use '../utils/' as *;

.home {
  &__hero {
    height: 300px;

    background-image: url('../../assets/img/bank-tree.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
  }
  &__hero-content {
    padding: 2rem;
    margin: 0 auto;

    background: white;
    text-align: left;

    position: relative;
    top: 2rem;
    width: 200px;
  }
  &__hero-content &__hero-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
  }
  &__hero-content &__hero-text {
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  @media (min-width: 920px) {
    &__hero {
      height: 400px;
      background-position: 0% 33%;
    }
    &__hero-content {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }
    &__hero-content &__hero-subtitle {
      font-size: 1.5rem;
    }
    &__hero-content &__hero-text {
      font-size: 1.2rem;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
  }
  &__feature-item {
    flex: 1;
    padding: 2.5rem;
  }
  &__feature-item-icon {
    width: 100px;
    padding: 1rem;

    border: 10px solid #00bc77;
    border-radius: 50%;
  }
  &__feature-item-title {
    margin-bottom: 0.5rem;

    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
  }

  @media (min-width: 920px) {
    &__features {
      flex-direction: row;
    }
  }
}
